.about {
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    text-align: center;
    margin: 0 0 50px;
    @include screen-579 {
      margin: 0 0 10px;
    }
  }
  &__img {
    width: 100%;
    margin-bottom: 70px;
    @include screen-579 {
      height: 48vh;
      object-fit: cover;
      margin-bottom: 40px;
    }
  }
  &__text {
    width: 61%;
    margin: 0 auto 100px;
    @include screen-579 {
      width: 100%;
      margin: 0 auto 50px;
    }
    p {
      font-size: 17px;
      line-height: 28px;
      margin-bottom: 20px;
      @include screen-579 {
        font-size: 12px;
        line-height: 19px;
        margin-bottom: 10px;
      }
    }
  }
}