.account {
  .particles-js-canvas-el {
    height: 100vh !important;
    top: 210px;
  }
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    margin:0 0 30px;
  }
  &__tabs {
    width: 100%;
    @extend %flex;
    @include screen-579 {
      flex-direction: column;
    }
  }
  &__title {
    flex: 1;
    @extend %flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    font-size: 16px;
    cursor: pointer;
    background: #111111;
    @include screen-579 {
      height: 67px;
      font-size: 17px;
    }
    &.active {
      font-size: 25px;
      font-weight: bold;
      background: $bg-color;
      box-shadow: 6px 6px 15px rgba(0,0,0,0.4);
      @include screen-579 {
        font-size: 17px;
        font-weight: normal;
        color: $main-color;
      }
    }
  }
  &__content {
    padding: 80px 0;
    @include screen-579 {
      padding: 50px 0;
    }
  }
  &__characteristic {
    span {
      color: $main-color;
    }
  }
  &__product {
    @extend %flex;
    margin-bottom: 100px;
    @include screen-579 {
      margin-bottom: 50px;
      padding: 35px;
      background: #0F0F0F;
    }
  }
  &__info {
    flex: 1;
    @include screen-579 {
      text-align: center;
    }
  }
  &__link {
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
  }
  &__name-product {
    text-transform: uppercase;
    font-family: $font-trajan;
    font-size: 21px;
    color: $main-color;
    @include screen-579 {
      font-size: 17px;
      text-align: center;
      line-height: 25px;
    }
  }
  &__img {
    width: 273px;
    height: 275px;
    object-fit: cover;
    margin-right: 50px;
    @include screen-579 {
      width: 100%;
      height: 280px;
      margin: 0 auto 20px;
    }
  }
  &__characteristic {
    display: block;
    margin-bottom: 15px;
    font-size: 21px;
    letter-spacing: 1px;
    span {
      font-weight: bold;
    }
    @include screen-579 {
      display: none;
    }
  }
  &__price {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 44px;
    line-height: 72px;
    color: $main-color;
  }
  &__date {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 15px;
    @include screen-579 {
      line-height: normal;
      margin-bottom: 0;
    }
  }
  &__empty {
    font-size: 20px;
  }
  &__form {
    width: 100%;
    margin: 0 auto;
    @extend %flex;
    flex-direction: column;
    input:valid:not(:placeholder-shown) {
      border: 1px solid $main-color;
    }
    input:invalid:not(:placeholder-shown) {
      border: 1px solid red;
    }
    input:invalid:not(:placeholder-shown) + .account__error {
      display: block;
    }
  }
  &__field {
    position: relative;
    width: 65%;
    margin: 0 0 40px;
    @extend %justify-between;
    align-items: center;
    @include screen-765 {
      width: 90%;
    }
    @include screen-579 {
      display: block;
      width: 90%;
      margin: 0 auto 20px;
    }
  }
  &__name, &__lastname, &__email, &__address, &__patronymic {
    flex: 3;
    height: 69px;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid $main-color;
    font-size: 16px;
    font-family: $font-gothic;
    letter-spacing: 2px;
    background: none;
    color: $color-white;
    &:hover {
      transition: .5s;
      background: $main-color;
      color: $bg-color;
    }
    @include screen-579 {
      display: block;
      width: 100%;
      height: 53px;
      font-size: 13px;
    }
  }
  &__label {
    flex: 1;
    font-size: 16px;
    letter-spacing: 2px;
    @include screen-579 {
      display: inline-block;
      padding: 0 0 7px 20px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  &__error {
    display: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: $main-color;
    font-size: 12px;
  }
  &__send {
    width: 314px;
    height: 66px;
    @extend %main-button;
    margin: 50px 0 100px;
    letter-spacing: 2px;
    @include screen-579 {
      width: 280px;
      margin: 50px auto 100px;
    }
  }
  &__mailing {
    margin-top: 30px;
  }
  &__subcaption {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
    @include screen-579 {
      font-size: 17px;
    }
  }
  &__checkbox {
    margin-bottom: 40px;
    @include screen-579 {
      margin-bottom: 20px;
    }
  }

  &__checkbox-item[type=checkbox] {
    opacity: 0;
  }
  &__checkbox-item[type=checkbox] + label {
    margin: 0 0 0 11px;
    padding-left: 15px;
    position: relative;
    cursor: pointer;
    @include screen-579 {
      width: 85%;
      padding-left: 10px;
    }
  }
  &__checkbox-item[type=checkbox] + label ~ label {
    margin: 0 0 0 40px;
  }
  &__checkbox-item[type=checkbox] + label::before {
    content: ' ';
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    display: block;
    background: none;
    border: 1px solid $main-color;
    @include screen-579 {
      top: -5px;
      width: 20px;
      height: 20px;
    }
  }
  &__checkbox-item[type=checkbox] + label::after {
    content: ' ';
    position: absolute;
    left: -33px;
    top: -2px;
    width: 23px;
    height: 23px;
    display: block;
    z-index: 1;
    background: url(../img/checked.svg) no-repeat center center / 20px;
    transition: all .3s ease;
    transform: scale(0);
    opacity: 0;
    @include screen-579 {
      top: -5px;
      width: 20px;
      height: 20px;
    }
  }
  &__checkbox-item[type=checkbox]:checked + label::after {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}