.basket {
  display: none;
  width: 918px;
  height: 72vh;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -370px;
  margin-left: -460px;
  padding: 50px 70px;
  box-sizing: border-box;
  opacity: 0;
  z-index: 11;
  overflow: auto;
  background: $bg-color;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.9);
  @include screen-1400 {
    margin-top: -250px;
  }
  @include screen-1024 {
    width: 100%;
    left: 0;
    top: 10% !important;
    margin-left: 0;
    margin-top: 0;
  }
  @include screen-579 {
    top: 12% !important;
    height: 88vh;
    padding: 30px;
  }
  &__caption {
    @extend %caption;
    margin: 0 0 50px;
    font-size: 37px;
    @include screen-765 {
      text-align: center;
      font-size: 30px;
    }
    @include screen-579 {
      text-align: center;
      margin: 0 0 20px;
      font-size: 25px;
    }
  }
  &__info {
    width: 57%;
    @include screen-765 {
      width: 100%;
    }
  }
  &__item {
    @extend %flex;
    margin-bottom: 100px;
    &:last-child {
      margin-bottom: 0;
    }
    @include screen-765 {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }
    @include screen-579 {
      align-items: flex-start;
    }
  }
  &__product {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
  }
  &__title {
    text-transform: uppercase;
    font-family: $font-trajan;
    font-size: 21px;
    color: $main-color;
    @include screen-579 {
      font-size: 13px;
      color: $color-white;
    }
  }
  &__img {
    width: 273px;
    height: 275px;
    object-fit: cover;
    margin-right: 50px;
    @include screen-1024 {
      margin-right: 30px;
    }
    @include screen-765 {
      height: 200px;
      margin: 0 0 20px;
    }
    @include screen-579 {
      display: none;
    }
  }
  &__characteristic {
    display: block;
    margin-bottom: 10px;
    font-size: 21px;
    letter-spacing: 1px;
    span {
      font-weight: bold;
    }
    @include screen-579 {
      font-size: 12px;
    }
  }
  &__result {
    width: 100%;
    text-align: right;
    @include screen-579 {
      border-top: 1px solid #707070;
    }
  }
  &__link, &__del {
    margin-right: 50px;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: underline;
    color: $main-color;
    @include screen-579 {
      font-size: 15px;
      margin: 0;
    }
  }
  &__link{
    @include screen-579 {
      width: 100%;
      display: inline-block;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  &__del {
    cursor: pointer;
    margin-top: 40px;
    @include screen-579 {
      margin-top: 25px;
    }
  }
  &__next {
    width: 258px;
    height: 66px;
    @extend %main-button;
    display: inline-flex;
    font-weight: bold;
    @include screen-579 {
      width: 100%;
    }
  }
  &__price-count {
    @extend %flex;
    align-items: center;
    margin-top: 40px;
    @include screen-579 {
      width: 100%;
      display: flex !important;
      justify-content: space-between;
      margin-top: 30px;
    }
  }
  &__price {
    font-weight: bold;
    font-size: 44px;
    color: $main-color;
    @include screen-579 {
      font-size: 30px;
    }
  }
  &__amount {
    margin-bottom: 50px;
    text-align: right;
    font-weight: bold;
    font-size: 44px;
    color: $main-color;
    @include screen-579 {
      padding-top: 30px;
      font-size: 30px;
    }
    span {
      margin-right: 45px;
      font-size: 21px;
      font-weight: bold;
      letter-spacing: 1.2px;
      color: $color-white;
    }
  }
  &__count {
    margin-left: 50px;
    padding: 10px 19px;
    background: $bg-color;
    box-shadow: 6px 6px 15px rgba(0,0,0,1);
    @include screen-579 {
      margin-left: 0;
      padding: 5px 15px;
    }
  }
  &__number {
    all: unset;
    -moz-appearance: textfield;
    width: 3em;
    text-align: center;
    @include screen-579 {
      width: 2em;
    }
  }
  &__number::-webkit-inner-spin-button {
    display: none;
  }
  &__number, &__but {
    padding: 0;
    cursor: pointer;
    font-size: 27px;
    background: none;
    border: none;
    color: $color-white;
  }
  &__overlay {
    z-index:10;
    position:fixed;
    background-color: #000;
    opacity:0.45;
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
  }
}