.breadcrumbs {
  @extend %main-container;
  padding: 50px 20px;
  box-sizing: content-box;
  @include screen-579 {
    padding: 20px;
  }
  &__item {
    display: inline-flex;
  }
  &__list {
    @extend %flex;
    margin-bottom: 0;
    list-style: none;
    a {
      display: flex;
      font-size: 15px;
      color: $color-white;
      @include screen-579 {
        font-size: 10px;
      }
      &:after {
        content: '';
        background: url(../img/arrow-bread.svg) no-repeat center/4px;
        position: relative;
        padding: 0 5px;
      }
      span {
        color: $color-white;
      }
    }
    span {
      color: $main-color;
      @include screen-579 {
        font-size: 10px;
      }
    }
  }
}