.category {
  &__img {
    width: 100%;
    @include screen-579 {
      height: 48vh;
      object-fit: cover;
    }
  }
  &__caption {
    @extend %caption;
    text-align: center;
    margin: 30px 0;
    @include screen-579 {
      margin: 10px 0;
    }
  }
  &__container {
    @extend %main-container;
  }
  &__item {
    display: block;
    margin: 200px 0;
    @include screen-579 {
      margin: 70px 0;
    }
  }
  &__title {
    @extend %caption;
    margin-bottom: 80px;
    @include screen-579 {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  &__more {
    width: 261px;
    height: 61px;
    @extend %main-button;
    margin: 50px auto;
  }
}