.contacts {
  &__container {
    @extend %main-container;
    @extend %justify-between;
  }
  &__caption {
    @extend %caption;
    margin: 0 auto;
    padding: 0 0 50px 0;
  }
  &__item {
    margin-bottom: 80px;
    @include screen-579 {
      margin-bottom: 30px;
    }
   &--adress {
     width: 270px;
     line-height: 24px;
     font-size: 18px;
   }
    a {
      display: block;
      line-height: 24px;
      font-size: 18px;
      color: $color-white;
    }
  }
  &__title {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 20px;
    @include screen-579 {
      margin-bottom: 10px;
    }
  }
  iframe {
    height: 350px !important;
    @include screen-579 {
      height: 280px !important;
    }
  }
}

.particles-js__contacts .particles-js-canvas-el {
  height: 120vh !important;
}