.error {
  &__container {
    @extend %main-container;
    text-align: center;
  }
  &__caption {
    margin: 0 auto;
    padding: 0 0 50px;
    @include screen-765 {
      padding: 50px 0;
      text-align: center;
    }
    &--adaptive {
      display: none;
      font-size: 47vw;
      font-weight: bold;
      color: $main-color;
      @include screen-765 {
        display: block;
      }
    }
  }
  &__not-found {
    text-transform: uppercase;
    font-size: 37px;
    font-family: $font-trajan;
    @include screen-579 {
      font-size: 20px;
    }
  }
  &__link {
    width: 324px;
    height: 70px;
    @extend %main-button;
    margin: 35px auto 100px;
    @include screen-579 {
      width: 280px;
    }
  }
  canvas {
    display:block;
    height: 460px;
    width: 100%;
    @include screen-765 {
      display: none;
    }
  }
}