.footer {
  padding: 60px 0;
  box-shadow: 0 -6px 10px rgba(0,0,0,0.55);
  background: #111111;
  @include screen-579 {
    padding: 30px 0;
  }
  &__container {
    @extend %main-container;
    @extend %justify-between;
    @include screen-579 {
      flex-direction: column;
      text-align: center;
    }
  }
  &__item {
    @extend %flex;
    flex-direction: column;
    @include screen-579 {
      margin-bottom: 50px;
      &:nth-child(1) {
        order: 2;
      }
      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 4;
      }
      &:nth-child(4) {
        order: 1;
      }
    }
  }
  &__title {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 700;
  }
  &__link {
    line-height: 37px;
    letter-spacing: 2px;
    font-size: 15px;
    color: $color-white;
    &:hover {
      transition: 0.5s;
      color: $main-color;
    }
  }
  &__logo {
    img {
      width: 126px;
    }
  }
  &__social {
    @extend %justify-between;
    align-items: center;
    margin-top: 70px;
    @include screen-579 {
      justify-content: space-evenly;
      margin-top: 30px;
    }
  }
  &__copyright {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    @include screen-579 {
      margin-top: 0;
      order: 5;
      color: #707070;
    }
  }
}