.login {
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    margin: 50px 0 80px 0;
    @include screen-579 {
      margin: 50px 0;
    }
  }
  &__form {
    width: 100%;
    margin: 0 auto;
    @extend %flex;
    flex-direction: column;
    input:valid:not(:placeholder-shown) {
      border: 1px solid $main-color;
    }
    input:invalid:not(:placeholder-shown) {
      border: 1px solid red;
    }
    input:invalid:not(:placeholder-shown) + .login__error {
      display: block;
    }
  }
  &__field {
    width: 49%;
    margin: 0 auto 40px;
    @include screen-765 {
      width: 80%;
    }
  }
  &__name, &__pass {
    width: 100%;
    height: 69px;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid $main-color;
    font-size: 16px;
    font-family: $font-gothic;
    letter-spacing: 2px;
    background: none;
    color: $color-white;
    @include screen-579 {
      height: 53px;
      font-size: 12px;
    }
    &:hover {
      transition: .5s;
      background: $main-color;
      color: $bg-color;
    }
  }
  &__error {
    color: $main-color;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    display: none;
  }
  &__forgot {
    width: 49%;
    margin: 0 auto 50px;
    letter-spacing: 1px;
    color: $color-white;
    @include screen-579 {
      width:80%;
    }
  }
  &__send {
    width: 258px;
    height: 66px;
    @extend %main-button;
    margin: 0 auto 30px;
    @include screen-765 {
      margin: 50px auto 100px;
    }
    @include screen-579 {
      margin: 0 auto 30px;
      width: 250px;
    }
  }
  &__or {
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    color: $color-white;
  }
  &__registration {
    display: inline-block;
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
    font-family: $font-gothic;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    font-size: 28px;
    color: $main-color;
  }
}

.registration {
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    margin: 50px 0 80px 0;
    @include screen-579 {
      margin: 50px 0;
    }
  }
  &__form {
    width: 100%;
    margin: 0 auto;
    @extend %flex;
    flex-direction: column;
    input:valid:not(:placeholder-shown) {
      border: 1px solid $main-color;
    }
    input:invalid:not(:placeholder-shown) {
      border: 1px solid red;
    }
    input:invalid:not(:placeholder-shown) + .registration__error {
      display: block;
    }
  }
  &__field {
    width: 49%;
    margin: 0 auto 40px;
    @include screen-765 {
      width: 80%;
    }
  }
  &__name, &__pass, &__lastname, &__email, &__pass--another, &__patronymic {
    width: 100%;
    height: 69px;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid $main-color;
    font-size: 16px;
    font-family: $font-gothic;
    letter-spacing: 2px;
    background: none;
    color: $color-white;
    @include screen-579 {
      height: 53px;
      font-size: 12px;
    }
    &:hover {
      transition: .5s;
      background: $main-color;
      color: $bg-color;
    }
  }
  &__error {
    color: $main-color;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    display: none;
  }
  &__send {
    width: 314px;
    height: 66px;
    @extend %main-button;
    margin: 100px auto 100px;
    letter-spacing: 2px;
    @include screen-765 {
      margin: 50px auto 100px;
    }
    @include screen-579 {
      margin: 0 auto 100px;
      width: 250px;
    }
  }
}

.forgot {
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    margin: 50px 0 80px 0;
    @include screen-579 {
      margin: 50px 0;
    }
  }
  &__form {
    width: 100%;
    margin: 0 auto 150px;
    @extend %justify-between;
    @include screen-579 {
      display: block;
      margin: 0 auto 100px;
    }
    input:valid:not(:placeholder-shown) {
      border: 1px solid $main-color;
    }
    input:invalid:not(:placeholder-shown) {
      border: 1px solid red;
    }
    input:invalid:not(:placeholder-shown) + .forgot__error {
      display: block;
    }
  }
  &__field {
    width: 100%;
    flex: 3;
  }
  &__email {
    width: 100%;
    height: 102px;
    padding: 0 60px;
    box-sizing: border-box;
    border: none;
    box-shadow: 5px 5px 14px #000;
    font-size: 16px;
    font-family: $font-gothic;
    letter-spacing: 2px;
    background: $bg-color;
    color: $color-white;
    @include screen-579 {
      height: 53px;
      margin-bottom: 30px;
      padding: 0 20px;
    }
  }
  &__error {
    color: $main-color;
    text-align: left;
    font-size: 12px;
    margin-top: 10px;
    display: none;
  }
  &__send {
    width: 230px;
    height: 102px;
    flex: 1;
    @extend %main-button;
    @include screen-579 {
      margin: 0 auto;
    }
  }
}

.recovery {
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    margin: 50px 0 80px 0;
    @include screen-579 {
      margin: 50px 0;
    }
  }
  &__form {
    width: 100%;
    margin: 0 auto;
    @extend %flex;
    flex-direction: column;
    input:valid:not(:placeholder-shown) {
      border: 1px solid $main-color;
    }
    input:invalid:not(:placeholder-shown) {
      border: 1px solid red;
    }
  }
  &__field {
    width: 49%;
    margin: 0 auto 40px;
    @include screen-765 {
      width: 80%;
    }
  }
  &__pass, &__pass--another {
    width: 100%;
    height: 69px;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid $main-color;
    font-size: 16px;
    font-family: $font-gothic;
    letter-spacing: 2px;
    background: none;
    color: $color-white;
    @include screen-579 {
      height: 53px;
      font-size: 12px;
    }
    &:hover {
      transition: .5s;
      background: $main-color;
      color: $bg-color;
    }
  }
  &__send {
    width: 314px;
    height: 66px;
    @extend %main-button;
    margin: 100px auto 100px;
    letter-spacing: 2px;
    @include screen-765 {
      margin: 50px auto 100px;
    }
    @include screen-579 {
      margin: 0 auto 100px;
      width: 250px;
    }
  }
}

.order {
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    margin:0 0 30px;
  }
  &__subcaption {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
    @include screen-579 {
      margin-bottom: 30px;
      font-size: 17px;
    }
  }
  &__form {
    width: 100%;
    margin: 0 auto;
    @extend %flex;
    flex-direction: column;
    input:valid:not(:placeholder-shown) {
      border: 1px solid $main-color;
    }
    input:invalid:not(:placeholder-shown) {
      border: 1px solid red;
    }
    input:invalid:not(:placeholder-shown) + .order__error {
      display: block;
    }
  }
  &__postoffice, &__courier {
    width: 100%;
  }
  &__field {
    position: relative;
    width: 65%;
    margin: 0 0 40px;
    @extend %justify-between;
    align-items: center;
    @include screen-765 {
      width: 90%;
    }
    @include screen-579 {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }
  &__name, &__lastname, &__email, &__address, &__patronymic, &__tel, &__city, &__department {
    flex: 2.6;
    height: 69px;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid $main-color;
    font-size: 16px;
    font-family: $font-gothic;
    letter-spacing: 2px;
    background: none;
    color: $color-white;
    @include screen-579 {
      display: block;
      width: 100%;
      height: 53px;
      font-size: 12px;
    }
    &:hover {
      transition: .5s;
      background: $main-color;
      color: $bg-color;
    }
  }
  &__label {
    flex: 1;
    font-size: 16px;
    letter-spacing: 2px;
    @include screen-579 {
      display: inline-block;
      padding: 0 0 7px 20px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  &__error {
    display: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: $main-color;
    font-size: 12px;
    @include screen-579 {
      margin: 3px auto;
    }
  }
  &__send {
    width: 258px;
    height: 66px;
    @extend %main-button;
    margin: 50px auto 70px;
    letter-spacing: 2px;
    @include screen-579 {
      margin: 50px auto 40px;
    }
  }
  &__checkbox {
    margin-bottom: 30px;
    @include screen-579 {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__checkbox-item[type=radio] {
    opacity: 0;
  }
  &__checkbox-item[type=radio] + label {
    margin: 0 0 0 11px;
    padding-left: 15px;
    position: relative;
    cursor: pointer;
    @include screen-579 {
      width: 85%;
      padding-left: 10px;
    }
  }
  &__checkbox-item[type=radio] + label ~ label {
    margin: 0 0 0 40px;
  }
  &__checkbox-item[type=radio] + label::before {
    content: ' ';
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    display: block;
    background: none;
    border: 1px solid $main-color;
    @include screen-579 {
      top: -5px;
      width: 20px;
      height: 20px;
    }
  }
  &__checkbox-item[type=radio] + label::after {
    content: ' ';
    position: absolute;
    left: -33px;
    top: -2px;
    width: 23px;
    height: 23px;
    display: block;
    z-index: 1;
    background: url(../img/checked.svg) no-repeat center center / 20px;
    transition: all .3s ease;
    transform: scale(0);
    opacity: 0;
    @include screen-579 {
      top: -5px;
      width: 20px;
      height: 20px;
    }
  }
  &__checkbox-item[type=radio]:checked + label::after {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  &__courier, &__postoffice {
    display: none;
  }
  &__pickup {
    width: 355px;
    margin-bottom: 40px;
    padding: 30px;
    box-sizing: border-box;
    background: #111111;
    @include screen-579 {
      width: 100%;
    }
    p {
      font-size: 14px;
      line-height: 26px;
    }
  }
  &__total {
    width: 918px;
    margin: 100px auto 100px;
    padding: 70px;
    box-sizing: border-box;
    background: $bg-color;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    @include screen-1024 {
      width: 100%;
    }
    @include screen-579 {
      margin: 50px 0;
      padding: 20px 10px;
    }
    &--caption {
      margin-bottom: 50px;
      font-family: $font-trajan;
      font-size: 37px;
      color: $main-color;
      @include screen-579 {
        margin-bottom: 30px;
        font-size: 25px;
      }
    }
  }
  &__item {
    @extend %justify-between;
    span {
      margin-bottom: 20px;
      font-size: 21px;
      @include screen-579 {
        font-size: 12px;
      }
    }
    &:nth-child(4) {
      margin-top: 20px;
      padding-top: 50px;
      border-top: 1px solid #707070;
      span {
        &:first-child {
          font-size: 25px;
          font-weight: bold;
          @include screen-579 {
            font-size: 17px;
          }
        }
        &:last-child {
          &.order__price {
            font-weight: normal;
            font-size: 40px;
            color: $main-color;
            @include screen-579 {
              font-size: 30px;
            }
            span {
              font-weight: normal;
              font-size: 40px;
              @include screen-579 {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
  &__edit {
    display: inline-block;
    width: 100%;
    text-align: right;
    text-decoration: underline;
    font-size: 17px;
    cursor: pointer;
    color: $main-color;
    @include screen-579 {
      text-align: center;
    }
  }
  &__text {
    font-size: 25px;
  }
  &__number {
    display: inline-block;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: $font-trajan;
  }
}