.header {
  box-shadow: 0 5px 9px rgba(0,0,0,0.33);
  &__container {
    @extend %main-container;
    @extend %justify-between;
    align-items: center;
    margin-top: 40px;
    @include screen-1024 {
      margin-top: 20px;
    }
    @include screen-579 {
      margin: 0;
      padding: 20px;
    }
  }
  &__logo {
   @extend %flex;
    align-items: center;
    @include screen-765 {
      width: 100%;
      justify-content: center;
    }
    @include screen-579 {
      width: auto;
    }
  }
  &__img {
    width: 78px;
    margin-right: 15px;
    @include screen-579 {
      width: 55px;
    }
  }
  &__slogan {
    text-transform: uppercase;
    font-size: 27px;
    color: $main-color;
    @include screen-579 {
      font-size: 16px;
    }
  }
  &__right-block {
    @extend %justify-between;
    @include screen-765 {
      width: 100%;
      margin-top: 20px;
    }
    @include screen-579 {
      position: relative;
      width: auto;
      margin: 0;
      padding: 18px 13px;
      background: url("../img/drop down menu.svg") no-repeat center / 22px;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    margin-right: 100px;
    @include screen-1024 {
      margin-right: 50px;
    }
    @include screen-765 {
      margin-right: 0;
      width: 50%;
    }
    @include screen-579{
      display: none;
    }
    &--adaptive {
      display: none;
      @include screen-579 {
        display: block;
      }
    }
  }
  &__input {
    width: 252px;
    height: 35px;
    padding: 0 15px;
    box-sizing: border-box;
    border: none;
    box-shadow: 10px 5px 15px rgba(0,0,0,1);
    background: $bg-color;
    color: $main-color;
    @include screen-765 {
      width: 100%;
    }
  }
  &__button {
    position: relative;
    left: -35px;
    cursor: pointer;
    background: none;
    border: none;
  }
  &__icons {
    @include screen-579 {
      display: none;
      position: absolute;
      right: -20px;
      top: 67px;
      text-align: center;
      z-index: 1;
    }
    a {
      margin: 15px;
      @include screen-579 {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -1px 0 0 0;
        background: $bg-color;
        border: 1px solid #707070;
      }
    }
  }
  &__nav {
    width: 100%;
    @extend %justify-between;
    margin: 40px 0 25px;
    @include screen-579 {
      display: none;
    }
  }
  &__link {
    text-transform: uppercase;
    font-size: 20px;
    color: #A5A5A5;
    &:hover {
      transition: .5s;
      color: $main-color;
    }
    &.active {
      color: $main-color;
    }
  }
  .adaptive-menu {
    display: none;
    position: relative;
    cursor: pointer;
    @include screen-579 {
      display: block;
    }
    &__menu-top {
      position: relative;
      top: 5%;
      margin: 0;
      padding: 0;
    }
    &__full-menu {
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 12;
      box-sizing: border-box;
      overflow: auto;
      background: $bg-color;
    }
    &__open-menu {
      @extend %flex;
      align-items: baseline;
      &:hover {
        .adaptive-menu__title {
          transition: 0.5s;
          color: $main-color;
        }
      }
    }
    &__close-menu {
      width: 100%;
      display: inline-block;
      padding: 5px 15px;
      cursor: pointer;
      font-size: 40px;
      font-weight: bold;
      text-align: right;
      color: $main-color;
    }
    &__link {
      display: block;
      text-align: center;
      padding: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 500;
      color: $color-white;
      &:hover {
        transition: 0.5s;
        color: $main-color;
      }
    }
    img {
      outline: none;
      &:focus, &:active {
        outline: none;
      }
    }
  }
  .search {
    display: none;
    width: 100%;
    position: absolute;
    top: 11%;
    left: 0;
    padding: 30px 20px 30px 35px;
    box-sizing: border-box;
    background: $bg-color;
    &__form {
      width: 100%;
      display: flex;
      align-items: center;
    }
    &__input {
      width: 100%;
      height: 40px;
      padding: 0 15px;
      box-sizing: border-box;
      border: none;
      box-shadow: 10px 5px 15px rgba(0,0,0,1);
      background: $bg-color;
      color: $main-color;
    }
    &__button {
      position: relative;
      left: -35px;
      cursor: pointer;
      background: none;
      border: none;
    }
  }
}