.help {
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    margin: 30px 0 50px;
  }
  &__subcaption {
    margin: 50px 0 40px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    @include screen-579 {
      margin: 0 0 30px;
    }
  }
  &__accordion {
    margin-bottom: 24px;
  }
  &__title {
    position: relative;
    background-color: #111111;
    cursor: pointer;
    margin: 0;
    padding: 25px 20px;
    font-size: 16px;
    letter-spacing: 1.5px;
    @include screen-579 {
      font-size: 17px;
    }
    &.ui-state-hover {
      transition: .5s;
      background: $bg-color;
      box-shadow: 10px 5px 15px rgba(0,0,0,0.5);
    }
    &.ui-state-active {
      background: $bg-color;
      box-shadow: 10px 5px 15px rgba(0,0,0,0.5);
    }
  }
  &__content {
    padding: 8px;
    &.ui-accordion-content-active {
      position: relative;
      background: $bg-color;
      box-shadow: 10px 5px 15px rgba(0,0,0,0.5);
    }
    p {
      padding:0 20px 20px 20px;
      font-size: 16px;
      line-height: 31px;
      @include screen-579 {
        font-size: 12px;
        line-height: 19px;
      }
    }
  }
  .ui-accordion-header-icon {
    position: absolute;
    right: 0;
    width: 14px;
    height: 16px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    background: url('../img/x.svg') no-repeat 0 -36px / 14px;
  }
  .ui-accordion-header-icon.ui-icon-triangle-1-s {
    background-position: center;
  }
  .ui-accordion-content + .ui-accordion-header {
    margin-top: 25px;
    @include screen-579 {
      margin-top: 20px;
    }
  }
}
