.main-categories {
  padding: 150px 0;
  @include screen-1024 {
    padding: 0;
  }
  @include screen-579 {
    margin-bottom: 70px;
  }
  &__container {
    @extend %main-container;
  }
  &__content {
    @extend %flex;
    margin-right: -15px;
    margin-left: -15px;
    @include screen-1024 {
     justify-content: center;
    }
  }
  &__item {
    @extend %main-block;
  }
  &__obj {
    margin-right: 35px;
    height: 75px;
    @include screen-579 {
      margin: 0;
    }
  }
  &__caption {
    font-size: 25px;
    color: $color-white;
    @include screen-579 {
      width: 72%;
      font-size: 20px;
    }
  }
}