.main-block {
  &__img {
    width: 100%;
    @include screen-579 {
      height: 48vh;
      object-fit: cover;
    }
  }
  &__animation {
    margin: 0 auto;
    padding: 50px 0;
    @include screen-1024 {
      display: none;
    }
  }
  &__caption {
    display: none;
    @extend %caption;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    @include screen-1024 {
      display: block;
    }
    @include screen-579 {
      margin-top: 25px;
      padding: 0 20px;
      letter-spacing: 2px;
      font-size: 43px;
      font-family: $font-trajan;
      font-weight: bold;
    }
  }
  canvas {
    display:block;
    @include screen-765 {
      display: none;
    }
  }
}

#particles-js{
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.particles-js-canvas-el {
  position: absolute;
  z-index: -1;
}

html .slides,
body .slides,
html > .dg,
body > .dg {
  display: none;
}
@media (min-width: 1000px) {
  body > .dg {
    display: block;
  }
}