.news {
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    margin: 30px 0 50px;
    @include screen-579 {
      margin: auto;
    }
  }
  &__item {
    @extend %justify-between;
    margin-bottom: 50px;
    @include screen-579 {
      flex-direction: column;
    }
  }
  &__img {
    width: 350px;
    height: 270px;
    object-fit: cover;
    @include screen-1024 {
      width: 36%;
    }
    @include screen-579 {
      width: 100%;
      height: 250px;
      margin-bottom: 15px;
    }
  }
  &__info {
    width: 58%;
    @include screen-579 {
      width: 100%;
    }
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    font-size: 28px;
    color: $main-color;
    @include screen-579 {
      margin-bottom: 15px;
      font-size: 17px;
    }
    &:hover {
      transition: .5s;
      color: $color-white;
    }
  }
  &__text {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 28px;
    @include screen-765 {
      font-size: 15px;
      line-height: 25px;
    }
    @include screen-579 {
      margin-bottom: 15px;
      font-size: 12px;
      line-height: 19px;
    }
  }
  &__date {
    font-size: 17px;
    line-height: 28px;
    @include screen-579 {
      font-size: 12px;
      line-height: 19px;
    }
  }
}