.news-item {
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    margin: 0 0 50px;
    @include screen-579 {
      margin: auto;
    }
  }
  &__img {
    width: 100%;
    height: 580px;
    margin-bottom: 40px;
    object-fit: cover;
    @include screen-1024 {
      height: 400px;
    }
    @include screen-765 {
      height: 45vh;
      margin-bottom: 30px;
    }
  }
  &__text {
    width: 61%;
    margin: 0 auto 100px;
    @include screen-765 {
      width: 100%;
    }
    p {
      margin-bottom: 20px;
      font-size: 17px;
      line-height: 28px;
      @include screen-579 {
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 19px;
      }
    }
  }
  &__date {
    margin-bottom: 30px;
    @include screen-579 {
      margin-bottom: 20px;
    }
  }
}

.similar-news {
  margin-bottom: 150px;
  @include screen-579 {
    margin-bottom: 50px;
  }
  &__container {
    @extend %main-container;
    @extend %justify-between;
    @include screen-765 {
      justify-content: space-around;
    }
  }
  &__caption {
    @extend %caption;
    margin: 20px 0 50px;
    @include screen-579 {
      width: 100%;
      text-align: center;
      margin: 20px 0;
    }
  }
  &__item {
    width: 350px;
    @include screen-1024 {
      margin-bottom: 30px;
    }
    @include screen-579 {
      width: 100%;
    }
  }
  &__img {
    width: 350px;
    height: 270px;
    margin-bottom: 36px;
    object-fit: cover;
    @include screen-579 {
      width: 100%;
    }
  }
  &__title {
    display: block;
    font-size: 25px;
    margin-bottom: 15px;
    color: $main-color;
    @include screen-579 {
      font-size: 17px;
    }
    &:hover {
      transition: .5s;
      color: $color-white;
    }
  }
  &__text {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 28px;
    @include screen-579 {
      margin-bottom: 15px;
      font-size: 12px;
      line-height: 19px;
    }
  }
  &__date {
    font-size: 17px;
    @include screen-579 {
      font-size: 12px;
    }
  }
}