.pagination {
  width: 100%;
  @extend %flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  @include screen-579 {
    margin: 50px 0;
  }
  &__link {
    padding: 10px;
    font-size: 29px;
    color: $color-white;
    &:hover {
      transition: .5s;
      color: $main-color;
    }
    &.active {
      color: $main-color;
    }
  }
}