.product {
  &__container {
    @extend %main-container;
    @extend %justify-between;
    @include screen-1024 {
      flex-direction: column;
      align-items: center;
    }
  }
  &__caption {
    @extend %caption;
    margin: 0 0 80px;
    @include screen-1024 {
      margin: 0 0 50px;
    }
  }
  &__gallery {
    @include screen-1024 {
      margin-bottom: 50px;
    }
    a {
      &.current {
        border: 2px solid $main-color
      }
    }
  }
  &__img {
    width:540px;
    height: 620px;
    object-fit: cover;
    @include screen-1024 {
      height: 50vh;
    }
    @include screen-579 {
      width:100%;
      height: 46vh;
    }
    &--small {
      display: block;
      width: 93px;
      height: 105px;
      object-fit: cover;
    }
  }
  &__small-photo {
    @extend %flex;
    margin: 50px -7px 0 -7px;
    @include screen-579 {
      margin: 30px -7px 0 -7px;
    }
    a {
      display:inline-block;
      border: 2px solid transparent;
      margin: 0 7px;
      @include screen-579 {
        margin: 0 7px 7px 7px;
      }
    }
  }
  &__info {
    @include screen-579 {
      width: 100%;
    }
  }
  &__characteristic {
    display: block;
    margin-bottom: 20px;
    font-size: 21px;
    letter-spacing: 1px;
    @include screen-579 {
      margin-bottom: 15px;
      font-size: 15px;
    }
    span {
      font-weight: bold;
    }
  }
  &__click {
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: underline;
    color: $main-color;
  }
  &__basket {
    width: 210px;
    height: 61px;
    text-align: center;
    margin-right: 50px;
    @extend %main-button;
    font-weight: bold;
    @include screen-579 {
      margin: 0 0 30px 0;
    }
  }
  &__price {
    margin: 40px 0 70px;
    font-weight: bold;
    font-size: 44px;
    color: $main-color;
    @include screen-579 {
      font-size: 40px;
    }
  }
  &__but {
    @extend %flex;
    align-items: center;
    @include screen-579 {
      justify-content: center;
    }
  }
}