.seo-text {
  padding-bottom: 80px;
  @include screen-579 {
    padding-bottom: 50px;
  }
  &__container {
    @extend %main-container;
    @extend %justify-between;
  }
  &__caption {
    width: 90%;
    @extend %caption;
    margin-bottom: 50px;
    @include screen-579 {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
      font-size: 30px;
    }
  }
  p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 31px;
    @include screen-579 {
      text-align: center;
      font-size: 14px;
      line-height: 22px;
    }
  }
}