.slider {
  padding-bottom: 200px;
  @include screen-1024 {
    padding-bottom: 50px;
  }
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    margin-bottom: 100px;
    @include screen-765 {
      margin-bottom: 40px;
    }
    @include screen-579 {
      margin-bottom: 30px;
      text-align: center;
    }
  }
  &__item {
    text-align: center;
    margin: 0 auto;
  }
  &__content {
    width: 350px;
    height: 560px;
    @extend %flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: #0F0F0F;
    @include screen-579 {
      width: 315px;
      height: 470px;
    }
  }
  &__title {
    line-height: 31px;
    font-size: 21px;
    color: $color-white;
    @include screen-579 {
      line-height: 25px;
      font-size: 17px;
      padding: 0 20px;
    }
    &:hover {
      transition: .5s;
      color: $main-color;
    }
  }
  &__img {
    width: 280px;
    height: 321px;
    object-fit: cover;
    @include screen-579 {
      width: 245px;
      height: 280px;
    }
  }
  &__price {
    &--old {
      text-decoration: line-through;
      font-size: 21px;
      color: $color-white;
    }
    &--new {
      font-size: 42px;
      color: $main-color;
      @include screen-579 {
        font-size: 32px;
      }
    }
  }
  &__link {
    width: 210px;
    height: 61px;
    margin: 50px auto;
    @extend %main-button;
    @include screen-579 {
      margin: 30px auto 0;
    }
  }
}