.subscription {
  padding-bottom: 140px;
  @include screen-765 {
    padding-bottom: 80px;
  }
  &__container {
    @extend %main-container;
  }
  &__title {
    text-align: center;
    font-family: $font-trajan;
    font-size: 37px;
    margin-bottom: 100px;
    color: $main-color;
    @include screen-579 {
      margin-bottom: 50px;
      font-size: 30px;
    }
  }
  &__form {
    width: 100%;
    @extend %flex;
    flex-direction: column;
    padding: 50px 0 100px 0;
    background: $bg-color;
    @include screen-579 {
      padding: 50px 20px;
    }
  }
  &__form {
    max-width: 918px;
    margin: 0 auto;
    box-shadow: 8px 8px 25px rgba(0,0,0,0.5);
    input:valid:not(:placeholder-shown) {
      border: 1px solid $main-color;
    }
    input:invalid:not(:placeholder-shown) {
      border: 1px solid red;
    }
    input:invalid:not(:placeholder-shown) + .subscription__error {
      display: block;
    }
  }
  &__field {
    width: 54%;
    margin: 0 auto 20px;
    @include screen-579 {
      width: 100%;
    }
  }
  &__error {
    color: $main-color;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    display: none;
  }
  &__notification {
    display: none;
    text-align: center;
    font-size: 20px;
  }
  &__name, &__email, &__phone {
    width: 100%;
    height: 69px;
    padding: 0 30px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    background: #111111;
    color: $color-white;
    &:hover {
      background: $bg-color;
      box-shadow: 10px 8px 25px rgba(0,0,0,1);
    }
    @include screen-579 {
      height: 53px;
      padding: 0 15px;
      border: 1px solid $main-color;
    }
  }
  &__send {
    width: 230px;
    height: 66px;
    @extend %main-button;
    margin: 0 auto;
    @include screen-579 {
      width: 100%;
    }
  }
}