.subcategory {
  &__caption {
    @extend %caption;
    margin: 50px 0;
    font-size: 50px;
    @include screen-765 {
      font-size: 30px;
      margin: 30px 0;
      text-align: center;
    }
    @include screen-579 {
      margin: 20px 0 50px;
    }
  }
  &__container {
    @extend %main-container;
    > p {
      font-size: 21px;
      line-height: 31px;
      @include screen-579 {
        text-align: center;
        font-size: 12px;
        line-height: 19px;
      }
    }
  }
  &__item {
    display: block;
    margin: 200px 0;
    @include screen-765 {
      margin: 100px 0;
    }
  }
  &__title {
    @extend %caption;
    margin-bottom: 80px;
    @include screen-765 {
      margin-bottom: 30px;
    }
  }
  &__more {
    width: 261px;
    height: 61px;
    @extend %main-button;
    margin: 50px auto;
  }
}