.tabs {
  margin: 100px 0 200px;
  &__container {
    @extend %main-container;
    @extend %justify-between;
    @include screen-579 {
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      padding: 0;
    }
    &--item {
      display: block;
    }
  }
  &__title {
    display: block;
    padding: 30px;
    flex: 1;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    @include screen-579 {
      width: 100%;
      margin-top: 5px;
      padding: 23px 20px;
      background: #0F0F0F;
    }
    &.active {
      background: #0F0F0F;
      box-shadow: 4px -4px 10px rgba(0,0,0,0.6);
      @include screen-579 {
        box-shadow: none;
        color: $main-color;
      }
    }
  }
  &__content {
    padding: 80px 0;
    background: #0F0F0F;
    @include screen-579 {
      padding: 20px 0;
    }
  }
  &__item {
    width: 100%;
    @extend %main-container;
    line-height: 31px;
    font-size: 16px;
    box-sizing: border-box;
    &:nth-child(3) {
      @extend %flex;
      @include screen-579 {
        justify-content: space-between;
      }
      div {
        @extend %flex;
        flex-direction: column;
        &:first-child {
          margin-right: 27%;
          @include screen-765 {
            margin-right: 10%;
          }
          @include screen-579 {
            margin-right: 5%;
          }
        }
      }
    }
    &:nth-child(4) {
      @extend %flex;
      div {
        @extend %justify-between;
        flex-direction: column;
        flex-wrap: wrap;
        width: 30%;
        &:first-child {
          width: 40%;
        }
        &:nth-child(2) {
          width: 20%;
        }
        &:nth-child(3) {
          width: 40%;
        }
      }
      span {
        margin-bottom: 40px;
      }
    }
    span {
      margin-bottom: 20px;
      @include screen-765 {
        margin-bottom: 10px;
      }
    }
    p {
      @include screen-579 {
        font-size: 12px;
        line-height: 19px;
      }
    }
  }
  &__characteristic {
    @include screen-579 {
      flex: 1;
    }
    span {
      color: $main-color;
      @include screen-579 {
        font-size: 12px;
      }
    }
  }
  &__value {
    @include screen-579 {
      flex: 1;
    }
    span {
      @include screen-579 {
        font-size: 12px;
      }
    }
  }
}

.slider-review {
  &__title {
    width: 88%;
    margin: 0 auto;
    font-size: 21px;
    font-weight: bold;
  }
  &__text {
    width: 88%;
    margin: 0 auto;
    font-size: 16px;
  }
  &__date {
    width: 88%;
    margin: 0 auto;
    font-size: 17px;
  }
  .slick-prev, .slick-next {
    top: 50%;
  }
  .slick-list {
    width: 75%;
    margin: 0 auto;
  }
}