@font-face {
  font-family: 'Trajan Pro';
  src: url('../fonts/TrajanPro-Regular.eot');
  src: url('../fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrajanPro-Regular.woff2') format('woff2'),
  url('../fonts/TrajanPro-Regular.woff') format('woff'),
  url('../fonts/TrajanPro-Regular.ttf') format('truetype'),
  url('../fonts/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "_reset.css";
@import "settings";
@import "header";
@import "main-block";
@import "main-categories";
@import "slick-theme";
@import "slick";
@import "slider";
@import "subscription";
@import "seo-text";
@import "about";
@import "breadcrumbs";
@import "error";
@import "contacts";
@import "category";
@import "subcategory";
@import "subcategory-item";
@import "help";
@import "news";
@import "pagination";
@import "news-item";
@import "product";
@import "basket";
@import "tabs";
@import "forms";
@import "account";
@import "footer";
