$main-color: #C0A062;
$bg-color: #151515;
$color-white: #A5A5A5;
$font-trajan: 'Trajan Pro', sans-serif;
$font-gothic: 'Century Gothic', sans-serif;

@mixin screen-1400{
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin screen-1024{
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin screen-765{
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin screen-579 {
  @media screen and (max-width: 579px) {
    @content;
  }
}

%main-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

%flex {
  display: flex;
  flex-wrap: wrap;
}

%justify-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

%caption {
  width: 100%;
  display: block;
  margin-left: -130px;
  text-transform: uppercase;
  font-family: $font-trajan;
  font-size: 50px;
  line-height: 1.9;
  color: $main-color;
  @include screen-1400 {
    margin-left: 0;
  }
  @include screen-765 {
    font-size: 40px;
    line-height: 1.5;
  }
  @include screen-579 {
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
  }
}

%main-block {
  width: 350px;
  height: 270px;
  @extend %flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 50px;
  margin: 30px 15px;
  background: #0F0F0F;
  &:hover {
    transition: 0.5s;
    background: #000 url("../img/Path 24.svg") no-repeat right top / cover;
    box-shadow: 7px 7px 10px rgba(0,0,0,0.65);
    @include screen-579 {
      background: #000 url('../img/Path 24-adaptive.svg') no-repeat -10px bottom/cover;
    }
  }
  @include screen-579 {
    height: 131px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    margin: 15px;
    padding: 0 30px;
  }
}

%main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 21px;
  font-family: $font-gothic;
  font-weight: bold;
  background: $main-color;
  border: none;
  cursor: pointer;
  color: $bg-color;
  &:hover {
    transition: .5s;
    background: lighten($main-color, 5%);
  }
  @include screen-579 {
    height: 53px !important;
    font-size: 18px;
  }
}

body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $font-gothic;
  background: $bg-color;
  color: $color-white;
}

.main {
  flex: 1;
  overflow: hidden;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

strong {
  font-weight: bold;
}

input, textarea, button, .slick-slide {
  outline: none;
  &:focus, &:active {
    outline: none;
  }
}

textarea {resize: none !important;}

.active {
  cursor: default !important;
}

::-webkit-input-placeholder {color:$color-white;}
::-moz-placeholder          {color:$color-white;}
:-moz-placeholder           {color:$color-white;}
:-ms-input-placeholder      {color:$color-white;}
::-webkit-inner-spin-button {display: none;}
::-webkit-calendar-picker-indicator {background: none;}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px $bg-color !important;
  -webkit-text-fill-color: $main-color !important;
  color: $main-color !important;
}